{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Ar Notes | Password Change
{% endblock title %}

{% block content %}
<div class="container wrapper vh-100">
    <div class="row justify-content-center align-items-center text-center text-md-start h-100">
        <div class="col-10 col-md-8">
            <div class="card py-3">
                <div class="card-body">
                    <form class="form-group" method="post">
                        {% csrf_token %}
                        
                        <div class="mx-auto wrapper-img-form">
                            <h2 class="display-6 mb-4">Password Change</h2>
                            <hr>
                            {{ form | crispy}}
                        </div>
                        
                        <div class="text-center">
                            <input class="btn btn-outline-success" type="submit" value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}