{% extends 'base.html' %}

{% block title %}
    Ar Notes | Password Change Done
{% endblock title %}

{% block content %}
<div class="container wrapper vh-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-10 col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="display-6 mb-3">Password Successfully updated!</h2>
                    <p class="lead text-muted">It a suggested that to logout and confirm the updated password.</p>
                    <hr>
                    <a href="{% url 'logout' %}" class="btn btn-outline-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}